<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="MemberEntity" type="org.example.springtest.domain.member.MemberEntity" />
        <typeAlias alias="PostEntity" type="org.example.springtest.domain.post.PostEntity" />
    </typeAliases>
</configuration>